<h1 class="page-header">Member List</h1>
<br/>
<br/>
	<div class="row">
		<ul *ngIf="usersList" class="col-md-8">
			<li *ngFor="let list of usersList" class="list-group-item">
			<div style="display:flex;" class="list-group-item">
				<div class="col-md-4 row">
					<a [routerLink]="['/user/', list._id]">
						<h3>{{ list.name}}</h3>
					</a>
				</div>
				<div  class="col-md-4 row">
					{{ list.email}}
				</div>
			</div>
				<br/>
				<br/>

			</li>
		</ul>
	</div> 





<!--<div class="list-group-item">
	<ul  class="list-group-item" *ngIf="usersList">
		<a [routerLink]="['/user/', list._id]"  *ngFor="let list of usersList">{{ list.name}}<br/></a>
	</ul>
</div>-->
			    