<h1 class="page-header">Public Profile</h1>
<div class="row show-hide-message" *ngIf="message">
	<div [ngClass]="messageClass">
		{{ message }}
	</div>
</div>
	
<ul *ngIf="foundProfile" class="list-group">
	<li class="list-group-item"><strong>Id: </strong>{{_id}}</li>
	<li class="list-group-item"><strong>Username: </strong>{{username}}</li>
	<li class="list-group-item"><strong>Email: </strong>{{email}}</li>

</ul>
<button [disabled]="processing" name="button" type="button" (click)="goBack()" class="btn btn-warning">Go Back</button>