<div *ngIf ="user">

	<h2 class="page-header">{{user.name}}</h2>
	<button type="button" name="button" class="btn btn-warning" *ngIf="!updateInfo" (click)="newUpdateForm()">Edit</button>
	<button class="btn btn-danger" (click)="deleteUser(user)"><i class="material-icons"></i>Delete</button>
	<ul class="list-group">
		<li class="list-group-item">Username: {{user.username}}</li>
		<li class="list-group-item">Email: {{user.email}}</li>
	</ul>
	<app-upload></app-upload>
</div>
	
	<!-- <form action="/api/example/upload" method="post"
	enctype="multipart/form-data">
	<input type="myFile" type="file" class="form-control">
	<input type="width" value="100%" style="display: none">
	<input type="widgeId" value="123" style="display: none">
	<button type="submit" class="btn btn-default">Upload Image</button>
</form> 

<div class="well">

<div ng-show="uploading" class="progress">
	<div class="progress">
	  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
	</div>
</div>

<form ng-submit="Submit()">
	<label class="btn btn-success">
		Browse
	<input type="file" file-model="file.upload" name="myfile" ng-disabled="uploading" style="display: none" onchange="angular.element(this).scope().photoChanged(this.files)">
	</label>
	<br>
	<br>
	<button type="submit" ng-disabled="uploading" class="btn btn-primary">Upload </button>
</form> 
	
	<br>
		<img src="girl.jpg">
		<img [data-ng-src]="{{ thumbnail.dataUrl || 'http://emblemsbattlefield.com/uploads/posts/2014/10/facebook-default-photo-male_1.jpg' }}"/>
	<br>
	<br>
	<div ng-show="message">
		<div ng-class="alert">{{ message }}</div>
	</div>
</div>--> 

	<form [formGroup]="form" name="updateForm" (submit)="onUpdateSubmit()" *ngIf="updateInfo">
		<div class="form-group">
	     	<label>Name</label>
	        <input type="text" [(ngModel)]="editUser.name" name="name" class="form-control" formControlName="name">
    	</div>
     	<div class="form-group">
	        <label>Username</label>
	        <input type="text" [(ngModel)]="editUser.username" name="username" class="form-control" formControlName="username">
    	</div>
     	<div class="form-group">
	        <label>Email</label>
	        <input type="text" [(ngModel)]="editUser.email" name="email" class="form-control" formControlName="email">
	    </div>
	     <div class="form-group">
	        <label>Password</label>
	        <input type="password" [(ngModel)]="editUser.password" name="password" class="form-control" formControlName="password">
	    </div>
    	<button [disabled]="processing" name="button" type="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
		<button [disabled]="processing || !form.valid" name="button" type="submit" class="btn btn-success">Submit</button>
	</form>
	


    	
	


