<div class="jumbotron text-center">
	<h1>MEAN Authentication App</h1>
	<p class="lead">Welcome to our custom MEAN application built by BiBi Oye</p>
	<div>
		<a *ngIf="!authService.loggedIn()"class="btn btn-primary" [routerLink]="['/register']">Register</a>
		<a *ngIf="!authService.loggedIn()" class="btn btn-primary-default" [routerLink]="['/login']">Login</a>
		<a *ngIf="authService.loggedIn()" class="btn btn-primary-default" [routerLink]="['/blog']">View Blogs</a>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Express Backend</h3>
		<p>Is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
	</div>

	<div class="col-md-4">
		<h3>AngularJS</h3>
		<p>Is is a command line interface tool that can create a project, add files, and perform a variety of ongoing development tasks such as testing, bundling, and deployment.</p>
	</div>

	<div class="col-md-4">
		<h3>JWT Token</h3>
		<p>Is a JSON-based open standard (RFC 7519) for creating access tokens that assert some number of claims.</p>
	</div>
</div>