<h1 class="page-header">Blog Feed</h1>
	<div class="row show-hide message" *ngIf="message && newPost">
		<div [ngClass]= messageClass>
			{{ message }}
			
		</div>
	</div> 
	<!-- New Post Button -->
	<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>

	<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadingBlogs()"><i class="fa fa-repeat" style="font-size:24px"></i>Reload</button>
	<br/>	
	<br />

		<!--New Blog Form-->
		<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">

			<!-- Title input -->
			<div class="form-group">
				<label for="title">Title</label>
					<div [ngClass]="{'has-success': form.controls.title.valid,'has-error': form.controls.title.dirty && form.controls.title.errors}">
					<input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title" />

					<ul class="help-block">
						<li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required" class="btn btn-danger">This field is required</li>

						<li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)" class="btn btn-danger">Max length: 50, Min length: 5</li>

						<li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation" class="btn btn-danger">Must be a letter or a number</li>
					</ul>
				</div>
			</div>

			<!-- Body Input -->
			<div class="form-group">
				<label for="body">Body</label>
					<div [ngClass]="{'has-success': form.controls.body.valid,'has-error': form.controls.body.dirty && form.controls.body.errors}">

					<textarea name="body" rows="8" cols="80" placeholder="*Blog Body" class="form-control" formControlName="body"></textarea>
					
					 <!-- Validation -->
					<ul class="help-block">
						<li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required" class="btn btn-danger">This field is required</li>

						<li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)" class="btn btn-danger">Max length: 140, Min length: 5</li>
					</ul>
				</div>
			</div>

			 <!-- Go Back Button -->
			<button [disabled]="processing" name="button" type="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
			 <!-- Submit Button -->
			<button [disabled]="processing || !form.valid" name="button" type="submit" class="btn btn-success">Submit</button>
		</form>

		<!--New Blog Form-->

		<!-- Panel Start -->
		<div *ngIf="!newPost">
		<div class="panel panel-primary" *ngFor="let blog of blogPosts">

			<!-- Panel Title -->
			<div class="panel-heading">
				<h3 class="panel-title">{{ blog.title }}</h3>
			</div>

			 <!-- Panel Body -->
			<div class="panel-body">
				{{ blog.body }}
			</div>

			<!--Footer starts -->
			<div class="panel-footer">
				<strong>Posted by: </strong>{{  blog.createdBy }}
				<br />
				<strong>Date: </strong>{{ blog.createdAt | date: 'MM dd, yyyy' }}
				<br />
				<div *ngIf="_id === blog.createdBy">
					<strong>Likes: </strong>{{ blog.likes }}
				
					<strong>Dislikes: </strong>{{blog.dislikes }}
				</div>

				<!-- Edit Button -->
				<a [routerLink]="['/edit-blog/', blog._id]"  *ngIf="_id === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
				 <!-- Delete Button -->
				<a [routerLink]="['/delete-blog/', blog._id]"  *ngIf="_id === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

				<!--Likes Dropdown -->
			    <div class="dropdown show">
				  <!-- Like Button -->
			      <button class="btn btn-sm btn-success" [disabled]="blog.likedBy.indexOf(_id) > -1" type="button" name="button" role="button" *ngIf="_id !== blog.createdBy" (click)="likeBlog(blog._id)"><i class="fa fa-thumbs-o-up"></i><span class="caret">&nbsp;</span>Like</button>
			      <a class="btn btn-sm btn-success dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Likes: {{ blog.likes }}</a>
			      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			        <a [routerLink]="['/user/', liker._id]" *ngFor="let liker of blog.likedBy">{{ liker.username}}<br /></a>
			      </div>
			    </div>
				
				<!--Dislikes Dropdown -->
				<div class="dropdown show" *ngIf="blog.dislikedBy">
			      <button class="btn btn-sm btn-warning" [disabled]="blog.dislikedBy.indexOf(_id) > -1" type="button" name="button" role="button" *ngIf="_id !== blog.createdBy" (click)="dislikeBlog(blog._id)"><i class="fa fa-thumbs-o-down"></i><span class="caret">&nbsp;</span>Dislikes</button>
					<a class="btn btn-sm btn-warning dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Dislikes: {{ blog.dislikes }}</a>
			      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			        <a [routerLink]="['/user/', disliker._id]" *ngFor="let disliker of blog.dislikedBy">{{disliker.username}}<br/></a> 
			      </div>
			    </div>
				</div>

			<!-- End footer -->

			<!-- Post comment box -->
			<ul class="list-group">
				<li class="list-group-item">
					<!-- Post Comment Button -->
					<button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Post Comment</button>	
					<br />
					<br />
					<div *ngIf="newComment.indexOf(blog._id) > -1">

						<!-- Form: Comment Form Start -->
						<form [formGroup]="commentForm">
							<textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
							 <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
								<ul class="help-block">
									<li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
										
											
									<li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 100.</li>
								</ul>
							</div>
							<!-- Post Button -->
							<button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Submit Post</button>

							 <!-- Cancel Button -->
							<button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
						</form>
						<!-- Form: Comment Form End -->

					</div>
					
					 <!-- Show Comments -->
			        <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
			          <span (click)="expand(blog._id)">
			            Show comments&nbsp;&nbsp;<i class="fa fa-commenting-o"></i>
			          </span>
			        </li>
					
					<!-- Hide Comments -->
					<li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item"> 
						<span (click)="collapse(blog._id)">
							Hide comments&nbsp;&nbsp;<i class="fa fa-commenting-o"></i>
						</span>
					</li>

					<!-- Comment -->
					<div *ngIf="enabledComments.indexOf(blog._id) > -1">
						<li *ngFor="let comment of blog.comments" class="list-group-item">
							<strong>{{ comment.commentator}}: </strong>{{ comment.comment}}
						</li>
					</div>
			</ul>
			<!-- Post coment box ends -->
		</div>

	</div>
