<div id="app" class="">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MicroBloggos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        	<div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                    <a class="nav-link" [routerLink]="['/']">HOME<span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="navbar-nav">
                
                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link" [routerLink]="['/dashboard']">DASHBOARD</a>

                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link" [routerLink]="['/profile']">PROFILE</a>

                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link" [routerLink]="['/blog']">BLOG</a>

                 <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link" [routerLink]="['/list-users']">MEMBERS</a>

                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-user"></i>LOGIN</a></li>

                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link" [routerLink]="['/register']"><i class="fa fa-vcard"></i>REGISTER</a>
                </li>

                 <li><a *ngIf="authService.loggedIn()" (click)="onLogoutClick()"class="nav-link" [routerLink]="['#']">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>
</div>