<h3>
  {{title}}
</h3>
<div>
	<form>
		<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
		</div>
		<br>
		<label class="btn btn-success">
			Browse
			<input type="file" id="photo" name="myfile" style="display: none" onchange="angular.element(this).scope().photoChanged(this.files)" ng2FileSelect [uploader]="uploader">
		</label>
		<br>
		<br>
		<img src="girl.jpg">
		<br>
		<br>
		<button type="button" class="btn btn-success btn-s" (ngSubmit)="onUploadSubmit()">
			Upload
		</button>
	</form>	
	<br>
</div>
		
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="avatar">Avatar</label>
    <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
  </div>
  <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
</form>